node squeeze-flowgrind1
node squeeze-flowgrind2
primitive pgInstance ocf:credativ:pgstreamrep \
	op monitor interval="20s" timeout="40s" \
	params pgpidfile="/var/run/postgresql/9.0-main.pid" pgdata="/var/lib/postgresql/9.0/main" logfile="/var/log/postgresql/postgresql-9.0-main.log" trigger_file="/var/run/postgresql/become_master"
primitive resWriterIP ocf:heartbeat:IPaddr2 \
	params ip="192.168.122.100" cidr_netmask="32" \
	op monitor interval="30s"
ms masterPgInstance pgInstance \
	meta target-role="Master" is-managed="true" master-max="1" notify="true" clone-max="2" clone-node-max="1"
property $id="cib-bootstrap-options" \
	dc-version="1.0.9-74392a28b7f31d7ddc86689598bd23114f58978b" \
	cluster-infrastructure="openais" \
	expected-quorum-votes="2" \
	no-quorum-policy="ignore" \
	stonith-enabled="no"
